<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="naBGHqk0ma5wZPtKpvobPwocUpZLrOPGybu7qjyAwkk" />
  <meta name="robots" content="index,follow">

  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}">
  <meta name="author" content="Vicente Manuel Aleixos Bellido">

  <meta itemprop="name" content="{{title}}">
  <meta itemprop="description" content="{{description}}">
  <meta itemprop="image" content="https://soyto.org/assets/img/logo.png">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://soyto.org/ranking/{{server.serverName}}/{{server.date}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:site_name" content="soyto.org">
  <meta property="og:image" content="https://soyto.org/assets/img/logo.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:alt" content="{{title}}">

  <meta property="twitter:image" content="https://soyto.org/assets/img/logo.png">

  <script type="application/ld+json" id="json-ld"></script>

  <!--[if IE]><link rel="shortcut icon" href="/favicon.ico"><![endif]-->
  <link rel="icon" href="/favicon.ico">

  <!-- Canonical URL -->
  <link rel="canonical" href="https://soyto.org/ranking/{{server.serverName}}/{{server.date}}">

  <!-- Title -->
  <title>{{title}}</title>


  <!-- Facebook -->
  <meta property="fb:app_id" content="883135418439345" />

</head>
<body>
</body>
</html>
