<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="P2TZOEeLURgwg_lT0V3xygwnqE2_qbjVDNnqSkxSrJ0" />
  <meta name="robots" content="index,follow">

  <meta name="description" content="Soyto tool for Aion PvP ranking on Gameforge servers">
  <meta name="keywords" content="Soyto AION ranking">
  <meta name="author" content="Vicente Manuel Aleixos Bellido">

  <meta itemprop="name" content="{{character.serverName}}:{{character.characterName}}">
  <meta itemprop="decription" content="Soyto tool for Aion PvP ranking on Gameforge servers">
  <meta itemprop="image" content="https://soyto.org/assets/img/logo.png">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://soyto.org/character/{{character.serverName}}/{{character.characterID}}">
  <meta property="og:title" content="Soyto ranking tool | {{character.serverName}} -> {{character.characterName}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:site_name" content="soyto.org">
  <meta property="og:image" content="https:{{picture}}">
  <meta property="og:image:type" content="image/jpg">
  <meta property="og:image:alt" content="{{character.serverName}}:{{character.characterName}}">

  <meta property="twitter:image" content="https:{{picture}}">

  <script type="application/ld+json" id="json-ld"></script>

  <!--[if IE]><link rel="shortcut icon" href="/favicon.ico"><![endif]-->
  <link rel="icon" href="/favicon.ico">

  <!-- Title -->
  <title>Soyto ranking tool | {{character.serverName}} -> {{character.characterName}}</title>


  <!-- Facebook -->
  <meta property="fb:app_id" content="883135418439345" />

</head>
<body>
</body>
</html>
